#header {
    width: 100%;
    min-width: 1080px;
    border-top: solid 1px #fff;
    padding: 0;
    display: block;
    background: #262628;
    background: -moz-linear-gradient(top,  #46494d 0%, #262628 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46494d), color-stop(100%,#262628));
    background: -webkit-linear-gradient(top,  #46494d 0%,#262628 100%);
    background: -o-linear-gradient(top,  #46494d 0%,#262628 100%);
    background: -ms-linear-gradient(top,  #46494d 0%,#262628 100%);
    background: linear-gradient(to bottom,  #46494d 0%,#262628 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46494d', endColorstr='#262628',GradientType=0 );
}

#titlewrap {
    height: 70px;
    padding: 10px 20px;
    margin-bottom: 1px;
    border-left: 1px solid #ff0000;
    border-right: 1px solid #ff0000;
}

#titlewrap .titlelogowrap {
    height: 70px;
    width: 220px;
    float: left;
    display: inline;
}


#title {
    float: left;
    margin-left: 20px;
    display: inline;
    color: #fff;
    font-family: Franklin Gothic Heavy,Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
}

