/* margins */
.nomargin { margin: 0 !important; }
.margin-right-0 { margin-right: 0; }
.margin-left-0 { margin-left: 0; }
.margin-right-5 { margin-right: 5px; }
.margin-left-5 { margin-left: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-left-10 { margin-left: 10px; }
.margin-top-0 { margin-top: 0; }
.margin-bottom-0 { margin-bottom: 0; }
.margin-top-5 { margin-top: 5px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-bottom-10 { margin-bottom: 10px; }
/* padding */
.nopadding { padding: 0 !important; }
.pad-right-0 { padding-right: 0; }
.pad-left-0 { padding-left: 0; }
.pad-right-5 { padding-right: 5px; }
.pad-left-5 { padding-left: 5px; }
.pad-right-10 { padding-right: 10px; }
.pad-left-10 { padding-left: 10px; }
.pad-top-0 { padding-top: 0; }
.pad-bottom-0 { padding-bottom: 0; }
.pad-top-5 { padding-top: 5px; }
.pad-bottom-5 { padding-bottom: 5px; }
.pad-top-10 { padding-top: 10px; }
.pad-bottom-10 { padding-bottom: 10px; }
/* floats */
.float-left { float: left; }
.float-right { float: right; }
/* borders */
.border-1px-black { border: 1px solid black; }
